:root
{
  --l-body-bg: #fff;
  --l-text-fg: #001;
  --l-test-size: 18px;
  --l-primary-fg: #07a;
}
*
{
  position: relative;

  padding: 0;
  margin: 0;

  box-sizing: border-box; 
}
body
{
  position: relative;

  width: 100%;
  height: 100%;

  font-size: var(--l-test-size);
  font-family: monospace;

  background-color: var(--l-body-bg);
  color: var(--l-text-fg);
}
#popupArea
{
  position: fixed;

  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  user-select: none;

  transition: .3s;

  z-index: 100;
}
#temp_stuff
{
  position: absolute;
  top: -1000vh;
  
  display: none;
  visibility: hidden;
}
#databaseEntryPage
{
  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: var(--l-body-bg);
  z-index: 10;
}
#databaseEntryPage div
{
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  padding: .3em .4em;
  margin: .1em .2em;
}
#databaseEntryPage > div
{
  box-shadow: 0px 0px 10px #0002;
  border-radius: 1em;
}
#databaseEntryPage > div > div > *
{
  margin: 1em 1em;
}


.display-1 { font-size: 1.5em; }
.primary {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--l-primary-fg);
  text-align: center;
}
input[type='file'] {
  font-size: 1em;
  text-align: center;

  border-radius: 1em;

  color: var(--l-body-bg);
  background-color: var(--l-text-fg);

  cursor: pointer;
}
input[type='file']::-webkit-file-upload-button
{
  outline: none;
  border: 0px 0px 0px 1px solid var(--l-body-bg);

  color: var(--l-body-bg);
  background-color: var(--l-body-fg);
}
#selectedDatabaseFile
{
  font-size: 1em;
  padding: .3em 1em;
}